<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Artículos</title>
</head>
<body>
    <h1>lista de Artículos</h1>
    <table width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Stock</th>
                <th>Género</th>
                <th>Categoría</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo in articulos %}
            <tr>
                <td>{{articulo.nombre}}</td>
                <td>
                    {% if articulo.descripcion %}
                        {{articulo.descripcion}}
                    {% else %}
                        No cuenta con descripción
                    {% endif %}
                </td>
                <td>{{articulo.stock}}</td>
                <td>{{articulo.genero}}</td>
                <td>{{articulo.categoria.nombre}}</td>
                <td>
                    <a href="#">Editar</a>
                    <a href="{% url 'eliminar_articulos' articulo.id %}">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">
                    <p>No existen artículos registrados</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>